@import "reset.less";
@import "960gs.less";

.border-radius(@r: 10px) {
  border-radius:@r;
  -moz-border-radius:@r;
  -webkit-border-radius:@r;
}
.fun_label() {
  .label {
    font:bold 18px/24px Arial;
    color:#333333;
    margin-bottom:15px;
  }
}

body {
  //background: url(i/body.bg.jpg) top center no-repeat;
  a {
    &:hover {
      color:#990000;
    }
  }
  a.registration {
    position:fixed;
    top:300px;
    left:0px;
  }
}

.header {
  position:relative;
  .logo {
    display:block;
    margin:29px 0px 15px;
  }
  .dnp {
    float:left;
    margin:0px 88px 25px 0px;
  }
  .opora {
    float:left;
    margin:0px 0px 25px 0px;
  }
  .final {
    position:absolute;
    top:40px;
    right:20px;
  }
}

.menu {
  //background:#1054bb;
  font:bold 14px/60px Tahoma;
  margin-bottom:15px;
  ul {
    li {
      float:left;
      background:#1054bb url(i/menu/line.png) center left no-repeat;
      &.home {
        a { 
          padding:0px 24px; 
          width:11px;
          background: url(i/menu/home.png) center center no-repeat;
          display:block;
          height:60px;
        }
        &.active, &:hover {
          a {background: url(i/menu/homeb.png) center center no-repeat;}
        }
      }
      &:hover, &.active {
        background:#ffc636 !important;
        a {
          color:#000;
        }
      }
      &.active {
        background: url(i/menu/active.png) bottom center no-repeat !important;
      }
      &:first-child, &:hover + li, &.active + li {
        background:#1054bb;
      }
      a {
        color:#fff;
        text-decoration:none;
        padding:0px 19px;
        float:left;
        
      }
    }
  }
}

.submenu {
  ul {
    font:14px/18px Tahoma;
    li {
      background: url(i/submenu/unactive.png) 0px 4px no-repeat;
      width:139px;
      padding:0px 0px 0px 17px;
      float:left;
      a {
        color:#000;
        &:hover {color:#990000;}
      }
      &.active {
        background: url(i/submenu/active.png) 0px 4px no-repeat;
        a {
          text-decoration:none;
        }
      }
    }
  }
}

.bread {
  font:bold 24px/38px Arial;
  color:#990000;
  margin-top:15px;
  margin-bottom:5px;
  a {
    text-decoration:none;
    color:#990000;
  }
}

.wrapper.mt {
  margin-top:20px;
}

.content {
  font:12px/1.3 Arial;
  position:relative;
  h1 {
    font-size:24px;
    font-weight:bold;
    color:#333333;
    margin-bottom:20px;
  }
  h2 {
    font-size:18px;
    font-weight:bold;
    color:#333333;
    margin-top:30px;
    margin-bottom:5px;
  }
  p {
    margin-bottom:10px;
    &.date {
      font-size:14px;
      margin-bottom:20px;
    }
  }
  ul {
    padding-right:60px;
    li {
      line-height:18px;
      padding-left:60px;
      margin-bottom:5px;
      background: url(i/content/li.png) 45px 6px no-repeat;
    }
    &.bg {
      background:#f6f5f3;
      padding:20px 60px 20px 0px;
    }
  }
  address {
    border:1px dashed #a7a6a4;
    line-height:18px;
    padding:10px 100px 10px 58px;
    .border-radius(4px);
    margin-bottom:25px;
    float:left;
    background:#fffbea url(i/content/map.png) center left no-repeat;
    a {
      color:#003399;
      &:hover {
        color:#990000;
      }
    }
  }
  div.day {
    background:#f6f5f3;
    position:relative;
    padding:30px 65px 30px 60px;
    margin-bottom:20px;
    img.icon {
      position:absolute;
      top:20px;
      left:0px;
    }
    .u {
      margin-bottom:8px;
      overflow:hidden;
    }
    h3 {
      font-size:18px;
      color:#666666;
      font-weight:bold;
      margin-bottom:20px;
    }
    .mb {
      margin-bottom:25px;
    }
    .mb0 {
      margin-bottom:0px;
    }
    strong {
      font-weight:bold;
      color:#990000;
    }
    em {
      color:#000;
      font-weight:bold;
    }
    &.register {
      padding:30px 0px 0px;
      a {
        color:#003399;
        &:hover {
          color:#990000;
        }
      }
      .btn {
        background:#edecea;
        padding:20px 0px 17px 180px;
      }
      input[type="submit"] {
        background:url(i/content/btn.png) 0 0 no-repeat;
        border:none;
        width:182px;
        padding:5px 0px 7px;
        font-size:14px;
        line-height:22px;
        text-align:center;
        font-family:Tahoma;
        vertical-align:top;
        display:block;
        cursor:pointer;
      }
      label.grid_3 {
        text-align:right;
        padding:4px 0px 0px 0px;
      }
      .field {
        position:relative;
        margin-bottom:15px;
        .input {
          line-height:23px;
        }
        input[type="text"], select[multiple] {
          font:12px/23px Tahoma;
        }
        .bmt {
          margin-top:15px;
        }
        input[type="radio"], input[type="checkbox"] {
          margin:0px;
          padding:0px;
          margin-right:5px;
        }
        input[type="text"], textarea {
          width:264px;
          border:1px solid #666666;
          padding:0px;
          line-height:23px;
          height:23px;
          padding:0px 7px;
        }
        textarea {
          height:100px;
        }
        select[multiple] {
          width:280px;
          border:1px solid #666666;
          padding:0px;
          line-height:23px;
          height:100px;
        }
        select.std {
          font:12px/23px Tahoma;
          height:23px;
          width:280px;
        }
        select.day, select.month, select.year {
          font:12px/23px Tahoma;
          float:left;
          margin-left:10px;
          height:23px;
        }
        select.day {
          margin-left:0px;
          width:80px;
        }
        select.month {
          width:100px;
        }
        select.year {
          width:80px;
        }
        .captcha {
          margin-top:7px;
          img {border:1px solid #000;}
        }
        span.comment {
          display:block;
          float:left;
          text-align:center;
          font:10px Arial;
          color:#999999;
          margin-left:10px;
          &.day   {width:80px;margin-left:0px;}
          &.month {width:100px;}
          &.year  {width:80px;}
        }
        label {
          display:block;
        }
      }
      .error {
        color:#cc0000;
        input[type="text"] {border-color:#c00;}
      }
      span.error {
        display:block;
        clear:both;
      }
    }
  }
  .social {
    img {
      float:left;
      margin-right:5px;
    }
  }
  .c-menu-wrapper {
    clear:both;
    height:103px;
    margin-bottom:25px;
  }
  .c-menu {
    clear:both;
    border:1px solid #cccccc;
    border-width:1px 0px;
    padding:9px 0px;
    background:#fff;
    z-index:9000;
    width:700px;
    &.fixed {
      position:fixed;
      top:-1px;
    }
    &.bottom {
      position:absolute;
      bottom:0px;
      top:auto;
    }
    ol {
      li {
        float:left;
        border-left:1px solid #cccccc;
        width:156px;
        height:73px;
        padding:5px 10px;
        &:first-child {
          border-left:none;
          padding-left:0px;
        }
        a {
          color:#990000;
          text-decoration:none;
          border-bottom:1px dotted #990000;
          &:hover {border-bottom:none;}
        }
      }
    }
  }
  .left-help {
    position:absolute;
    right: 40px;
    top: 5px;
    line-height:18px;
  }
  .slider {
    overflow:hidden;
    margin-bottom:45px;
    .wrap {
      width:10000px;
      margin-bottom:10px;
    }
    .item {
      float:left;
      img {display:block;}
    }
    .points {
      text-align:center;
      a {
        display:inline-block;
        width:20px;
        height:20px;
        background:url(i/content/sp.png) 0 0 no-repeat;
        &.active {
          background:url(i/content/sa.png) 0 0 no-repeat;
        }
      }
    }
  }
  .peoples {
    .people {
      img {
        height:260px;
        margin-bottom:10px;
      }
      h4 {
        font-size:18px;
        font-weight:bold;
        margin-bottom:7px;
        a {
          color:#1054bb;
          &:hover {color:#990000;}
        }
      }
      p {
        color:#333333;
        font-size:12px;
      }
    }
  }
  .news {
    p.date {
      font-size:12px;
      color:#333333;
      margin-bottom:0px;
    }
    h4 {
      font-size:14px;
      font-weight:bold;
      margin:5px 0px;
      a {
        color:#1054bb;
        &:hover {color:#990000;}
      }
    }
    p {
      
    }
    .grid_4 {
      h4 {
        margin-bottom:20px;
      }
    }
  }
  .speaker {
    margin-bottom:20px;
    img {
      margin-top:3px;
    }
    h3 {
      color:#333333;
      font-size:18px;
      font-weight:bold;
      margin-bottom:8px;
    }
    em {
      font-style:italic;
    }
  }
  .pager {
    font-size:14px;
    margin-bottom:70px;
    color:#003399;
    .no_und {text-decoration:none;span{text-decoration:underline;}}
    a {color:#003399;&:hover {color:#900;}}
    li {
      background:none;
      margin:0px 7px 0px 0px;
      padding:2px 4px;
      float:left;
      &.active {
        background:#dedede;
        color:#000;
      }
    }
  }
  .program {
    margin-bottom:30px;
    h4.date {
      font-size:18px;
      color:#999999;
      line-height:26px;
      margin-top:-5px;
    }
    h3 {
      font-size:18px;
      font-weight:bold;
      line-height:26px;
      a {
        color:#333333;
        &:hover {color:#990000;}
      }
    }
    dl {
      margin-top:20px;
      font-size:14px;
      dt {
        color:#333333;
      }
      dd a {
        color:#0066cc;
        &:hover {color:#990000;}
      }
    }
  }
  .stage {
    border-bottom:1px solid #cccccc;
    padding-bottom:10px;
    margin-bottom:20px;
    &.nbd {
      border:none;
    }
    h4.date {
      font-size:18px;
      color:#999999;
      line-height:26px;
      margin-top:-5px;
      span {
        color:#cc6666;
        padding-left:7px;
      }
    }
    .video {
      &.hide {
        display:none;
      }
    }
    a.show_hide {
      font-size:14px;
      font-weight:bold;
      color:#0066cc;
      border-bottom:1px dotted #0066cc;
      text-decoration:none;
      &:hover {
        color:#900;
        border-color:#900;
      }
    }
    h3 {
      font-size:18px;
      font-weight:bold;
      line-height:26px;
      a {
        color:#333333;
        &:hover {color:#990000;}
      }
    }
    .grid_1 {margin-bottom:15px;}
  }
}

.sidebar {
  .side_partners {
    .fun_label();
    div.partner {
      font:12px/15px Arial;
      color:#999999;
      .p_label {
        margin-bottom:6px;
      }
      img {
        border:1px dotted #959595;
        display:block;
        margin-bottom:25px;
      }
    }
    img.partner {
      border:1px dotted #959595;
      display:block;
      margin-bottom:20px;
    }
  }
}

.partners {
  .fun_label();
  margin-top:50px;
  .partner {
    font:12px/15px Arial;
    color:#999999;
    .p_label {
      margin-bottom:6px;
    }
    img {
      border:1px dotted #959595;
      display:block;
      margin-bottom:25px;
    }
  }
}

.footer {
  border-top:1px solid #cccccc;
  font:12px/23px Arial;
  padding:20px 0px 25px;
  margin-top:40px;
  color:#000;
  a {
    color:#000066;
  }
  .copyright {
    
  }
  ul#footer_menu {
    color:#999999;
    li {
      float:left;
      margin-right:4px;
      &:before {
        content: '| '
      }
      &:first-child:before {
        content: '';
      }
    }
  }
}