/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
}
/*
  Variable Grid System.
  Learn more ~ http://www.spry-soft.com/grids/
  Based on 960 Grid System - http://960.gs/

  Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
body {
  min-width: 960px;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11,
.push_12,
.pull_12,
.push_13,
.pull_13,
.push_14,
.pull_14,
.push_15,
.pull_15,
.push_16,
.pull_16 {
  position: relative;
}
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .grid_1 {
  width: 40px;
}
.container_16 .grid_2 {
  width: 100px;
}
.container_16 .grid_3 {
  width: 160px;
}
.container_16 .grid_4 {
  width: 220px;
}
.container_16 .grid_5 {
  width: 280px;
}
.container_16 .grid_6 {
  width: 340px;
}
.container_16 .grid_7 {
  width: 400px;
}
.container_16 .grid_8 {
  width: 460px;
}
.container_16 .grid_9 {
  width: 520px;
}
.container_16 .grid_10 {
  width: 580px;
}
.container_16 .grid_11 {
  width: 640px;
}
.container_16 .grid_12 {
  width: 700px;
}
.container_16 .grid_13 {
  width: 760px;
}
.container_16 .grid_14 {
  width: 820px;
}
.container_16 .grid_15 {
  width: 880px;
}
.container_16 .grid_16 {
  width: 940px;
}
/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .prefix_1 {
  padding-left: 60px;
}
.container_16 .prefix_2 {
  padding-left: 120px;
}
.container_16 .prefix_3 {
  padding-left: 180px;
}
.container_16 .prefix_4 {
  padding-left: 240px;
}
.container_16 .prefix_5 {
  padding-left: 300px;
}
.container_16 .prefix_6 {
  padding-left: 360px;
}
.container_16 .prefix_7 {
  padding-left: 420px;
}
.container_16 .prefix_8 {
  padding-left: 480px;
}
.container_16 .prefix_9 {
  padding-left: 540px;
}
.container_16 .prefix_10 {
  padding-left: 600px;
}
.container_16 .prefix_11 {
  padding-left: 660px;
}
.container_16 .prefix_12 {
  padding-left: 720px;
}
.container_16 .prefix_13 {
  padding-left: 780px;
}
.container_16 .prefix_14 {
  padding-left: 840px;
}
.container_16 .prefix_15 {
  padding-left: 900px;
}
/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .suffix_1 {
  padding-right: 60px;
}
.container_16 .suffix_2 {
  padding-right: 120px;
}
.container_16 .suffix_3 {
  padding-right: 180px;
}
.container_16 .suffix_4 {
  padding-right: 240px;
}
.container_16 .suffix_5 {
  padding-right: 300px;
}
.container_16 .suffix_6 {
  padding-right: 360px;
}
.container_16 .suffix_7 {
  padding-right: 420px;
}
.container_16 .suffix_8 {
  padding-right: 480px;
}
.container_16 .suffix_9 {
  padding-right: 540px;
}
.container_16 .suffix_10 {
  padding-right: 600px;
}
.container_16 .suffix_11 {
  padding-right: 660px;
}
.container_16 .suffix_12 {
  padding-right: 720px;
}
.container_16 .suffix_13 {
  padding-right: 780px;
}
.container_16 .suffix_14 {
  padding-right: 840px;
}
.container_16 .suffix_15 {
  padding-right: 900px;
}
/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .push_1 {
  left: 60px;
}
.container_16 .push_2 {
  left: 120px;
}
.container_16 .push_3 {
  left: 180px;
}
.container_16 .push_4 {
  left: 240px;
}
.container_16 .push_5 {
  left: 300px;
}
.container_16 .push_6 {
  left: 360px;
}
.container_16 .push_7 {
  left: 420px;
}
.container_16 .push_8 {
  left: 480px;
}
.container_16 .push_9 {
  left: 540px;
}
.container_16 .push_10 {
  left: 600px;
}
.container_16 .push_11 {
  left: 660px;
}
.container_16 .push_12 {
  left: 720px;
}
.container_16 .push_13 {
  left: 780px;
}
.container_16 .push_14 {
  left: 840px;
}
.container_16 .push_15 {
  left: 900px;
}
/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .pull_1 {
  left: -60px;
}
.container_16 .pull_2 {
  left: -120px;
}
.container_16 .pull_3 {
  left: -180px;
}
.container_16 .pull_4 {
  left: -240px;
}
.container_16 .pull_5 {
  left: -300px;
}
.container_16 .pull_6 {
  left: -360px;
}
.container_16 .pull_7 {
  left: -420px;
}
.container_16 .pull_8 {
  left: -480px;
}
.container_16 .pull_9 {
  left: -540px;
}
.container_16 .pull_10 {
  left: -600px;
}
.container_16 .pull_11 {
  left: -660px;
}
.container_16 .pull_12 {
  left: -720px;
}
.container_16 .pull_13 {
  left: -780px;
}
.container_16 .pull_14 {
  left: -840px;
}
.container_16 .pull_15 {
  left: -900px;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1;
}
body a:hover {
  color: #990000;
}
body a.registration {
  position: fixed;
  top: 300px;
  left: 0px;
}
.header {
  position: relative;
}
.header .logo {
  display: block;
  margin: 29px 0px 15px;
}
.header .dnp {
  float: left;
  margin: 0px 88px 25px 0px;
}
.header .opora {
  float: left;
  margin: 0px 0px 25px 0px;
}
.header .final {
  position: absolute;
  top: 40px;
  right: 20px;
}
.menu {
  font: bold 14px/60px Tahoma;
  margin-bottom: 15px;
}
.menu ul li {
  float: left;
  background: #1054bb url(i/menu/line.png) center left no-repeat;
}
.menu ul li.home a {
  padding: 0px 24px;
  width: 11px;
  background: url(i/menu/home.png) center center no-repeat;
  display: block;
  height: 60px;
}
.menu ul li.home.active a,
.menu ul li.home:hover a {
  background: url(i/menu/homeb.png) center center no-repeat;
}
.menu ul li:hover,
.menu ul li.active {
  background: #ffc636 !important;
}
.menu ul li:hover a,
.menu ul li.active a {
  color: #000;
}
.menu ul li.active {
  background: url(i/menu/active.png) bottom center no-repeat !important;
}
.menu ul li:first-child,
.menu ul li:hover + li,
.menu ul li.active + li {
  background: #1054bb;
}
.menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0px 19px;
  float: left;
}
.submenu ul {
  font: 14px/18px Tahoma;
}
.submenu ul li {
  background: url(i/submenu/unactive.png) 0px 4px no-repeat;
  width: 139px;
  padding: 0px 0px 0px 17px;
  float: left;
}
.submenu ul li a {
  color: #000;
}
.submenu ul li a:hover {
  color: #990000;
}
.submenu ul li.active {
  background: url(i/submenu/active.png) 0px 4px no-repeat;
}
.submenu ul li.active a {
  text-decoration: none;
}
.bread {
  font: bold 24px/38px Arial;
  color: #990000;
  margin-top: 15px;
  margin-bottom: 5px;
}
.bread a {
  text-decoration: none;
  color: #990000;
}
.wrapper.mt {
  margin-top: 20px;
}
.content {
  font: 12px/1.3 Arial;
  position: relative;
}
.content h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}
.content h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 5px;
}
.content p {
  margin-bottom: 10px;
}
.content p.date {
  font-size: 14px;
  margin-bottom: 20px;
}
.content ul {
  padding-right: 60px;
}
.content ul li {
  line-height: 18px;
  padding-left: 60px;
  margin-bottom: 5px;
  background: url(i/content/li.png) 45px 6px no-repeat;
}
.content ul.bg {
  background: #f6f5f3;
  padding: 20px 60px 20px 0px;
}
.content address {
  border: 1px dashed #a7a6a4;
  line-height: 18px;
  padding: 10px 100px 10px 58px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 25px;
  float: left;
  background: #fffbea url(i/content/map.png) center left no-repeat;
}
.content address a {
  color: #003399;
}
.content address a:hover {
  color: #990000;
}
.content div.day {
  background: #f6f5f3;
  position: relative;
  padding: 30px 65px 30px 60px;
  margin-bottom: 20px;
}
.content div.day img.icon {
  position: absolute;
  top: 20px;
  left: 0px;
}
.content div.day .u {
  margin-bottom: 8px;
  overflow: hidden;
}
.content div.day h3 {
  font-size: 18px;
  color: #666666;
  font-weight: bold;
  margin-bottom: 20px;
}
.content div.day .mb {
  margin-bottom: 25px;
}
.content div.day .mb0 {
  margin-bottom: 0px;
}
.content div.day strong {
  font-weight: bold;
  color: #990000;
}
.content div.day em {
  color: #000;
  font-weight: bold;
}
.content div.day.register {
  padding: 30px 0px 0px;
}
.content div.day.register a {
  color: #003399;
}
.content div.day.register a:hover {
  color: #990000;
}
.content div.day.register .btn {
  background: #edecea;
  padding: 20px 0px 17px 180px;
}
.content div.day.register input[type="submit"] {
  background: url(i/content/btn.png) 0 0 no-repeat;
  border: none;
  width: 182px;
  padding: 5px 0px 7px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  font-family: Tahoma;
  vertical-align: top;
  display: block;
  cursor: pointer;
}
.content div.day.register label.grid_3 {
  text-align: right;
  padding: 4px 0px 0px 0px;
}
.content div.day.register .field {
  position: relative;
  margin-bottom: 15px;
}
.content div.day.register .field .input {
  line-height: 23px;
}
.content div.day.register .field input[type="text"],
.content div.day.register .field select[multiple] {
  font: 12px/23px Tahoma;
}
.content div.day.register .field .bmt {
  margin-top: 15px;
}
.content div.day.register .field input[type="radio"],
.content div.day.register .field input[type="checkbox"] {
  margin: 0px;
  padding: 0px;
  margin-right: 5px;
}
.content div.day.register .field input[type="text"],
.content div.day.register .field textarea {
  width: 264px;
  border: 1px solid #666666;
  padding: 0px;
  line-height: 23px;
  height: 23px;
  padding: 0px 7px;
}
.content div.day.register .field textarea {
  height: 100px;
}
.content div.day.register .field select[multiple] {
  width: 280px;
  border: 1px solid #666666;
  padding: 0px;
  line-height: 23px;
  height: 100px;
}
.content div.day.register .field select.std {
  font: 12px/23px Tahoma;
  height: 23px;
  width: 280px;
}
.content div.day.register .field select.day,
.content div.day.register .field select.month,
.content div.day.register .field select.year {
  font: 12px/23px Tahoma;
  float: left;
  margin-left: 10px;
  height: 23px;
}
.content div.day.register .field select.day {
  margin-left: 0px;
  width: 80px;
}
.content div.day.register .field select.month {
  width: 100px;
}
.content div.day.register .field select.year {
  width: 80px;
}
.content div.day.register .field .captcha {
  margin-top: 7px;
}
.content div.day.register .field .captcha img {
  border: 1px solid #000;
}
.content div.day.register .field span.comment {
  display: block;
  float: left;
  text-align: center;
  font: 10px Arial;
  color: #999999;
  margin-left: 10px;
}
.content div.day.register .field span.comment.day {
  width: 80px;
  margin-left: 0px;
}
.content div.day.register .field span.comment.month {
  width: 100px;
}
.content div.day.register .field span.comment.year {
  width: 80px;
}
.content div.day.register .field label {
  display: block;
}
.content div.day.register .error {
  color: #cc0000;
}
.content div.day.register .error input[type="text"] {
  border-color: #c00;
}
.content div.day.register span.error {
  display: block;
  clear: both;
}
.content .social img {
  float: left;
  margin-right: 5px;
}
.content .c-menu-wrapper {
  clear: both;
  height: 103px;
  margin-bottom: 25px;
}
.content .c-menu {
  clear: both;
  border: 1px solid #cccccc;
  border-width: 1px 0px;
  padding: 9px 0px;
  background: #fff;
  z-index: 9000;
  width: 700px;
}
.content .c-menu.fixed {
  position: fixed;
  top: -1px;
}
.content .c-menu.bottom {
  position: absolute;
  bottom: 0px;
  top: auto;
}
.content .c-menu ol li {
  float: left;
  border-left: 1px solid #cccccc;
  width: 156px;
  height: 73px;
  padding: 5px 10px;
}
.content .c-menu ol li:first-child {
  border-left: none;
  padding-left: 0px;
}
.content .c-menu ol li a {
  color: #990000;
  text-decoration: none;
  border-bottom: 1px dotted #990000;
}
.content .c-menu ol li a:hover {
  border-bottom: none;
}
.content .left-help {
  position: absolute;
  right: 40px;
  top: 5px;
  line-height: 18px;
}
.content .slider {
  overflow: hidden;
  margin-bottom: 45px;
}
.content .slider .wrap {
  width: 10000px;
  margin-bottom: 10px;
}
.content .slider .item {
  float: left;
}
.content .slider .item img {
  display: block;
}
.content .slider .points {
  text-align: center;
}
.content .slider .points a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(i/content/sp.png) 0 0 no-repeat;
}
.content .slider .points a.active {
  background: url(i/content/sa.png) 0 0 no-repeat;
}
.content .peoples .people img {
  height: 260px;
  margin-bottom: 10px;
}
.content .peoples .people h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}
.content .peoples .people h4 a {
  color: #1054bb;
}
.content .peoples .people h4 a:hover {
  color: #990000;
}
.content .peoples .people p {
  color: #333333;
  font-size: 12px;
}
.content .news p.date {
  font-size: 12px;
  color: #333333;
  margin-bottom: 0px;
}
.content .news h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0px;
}
.content .news h4 a {
  color: #1054bb;
}
.content .news h4 a:hover {
  color: #990000;
}
.content .news .grid_4 h4 {
  margin-bottom: 20px;
}
.content .speaker {
  margin-bottom: 20px;
}
.content .speaker img {
  margin-top: 3px;
}
.content .speaker h3 {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.content .speaker em {
  font-style: italic;
}
.content .pager {
  font-size: 14px;
  margin-bottom: 70px;
  color: #003399;
}
.content .pager .no_und {
  text-decoration: none;
}
.content .pager .no_und span {
  text-decoration: underline;
}
.content .pager a {
  color: #003399;
}
.content .pager a:hover {
  color: #900;
}
.content .pager li {
  background: none;
  margin: 0px 7px 0px 0px;
  padding: 2px 4px;
  float: left;
}
.content .pager li.active {
  background: #dedede;
  color: #000;
}
.content .program {
  margin-bottom: 30px;
}
.content .program h4.date {
  font-size: 18px;
  color: #999999;
  line-height: 26px;
  margin-top: -5px;
}
.content .program h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}
.content .program h3 a {
  color: #333333;
}
.content .program h3 a:hover {
  color: #990000;
}
.content .program dl {
  margin-top: 20px;
  font-size: 14px;
}
.content .program dl dt {
  color: #333333;
}
.content .program dl dd a {
  color: #0066cc;
}
.content .program dl dd a:hover {
  color: #990000;
}
.content .stage {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.content .stage.nbd {
  border: none;
}
.content .stage h4.date {
  font-size: 18px;
  color: #999999;
  line-height: 26px;
  margin-top: -5px;
}
.content .stage h4.date span {
  color: #cc6666;
  padding-left: 7px;
}
.content .stage .video.hide {
  display: none;
}
.content .stage a.show_hide {
  font-size: 14px;
  font-weight: bold;
  color: #0066cc;
  border-bottom: 1px dotted #0066cc;
  text-decoration: none;
}
.content .stage a.show_hide:hover {
  color: #900;
  border-color: #900;
}
.content .stage h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}
.content .stage h3 a {
  color: #333333;
}
.content .stage h3 a:hover {
  color: #990000;
}
.content .stage .grid_1 {
  margin-bottom: 15px;
}
.sidebar .side_partners .label {
  font: bold 18px/24px Arial;
  color: #333333;
  margin-bottom: 15px;
}
.sidebar .side_partners div.partner {
  font: 12px/15px Arial;
  color: #999999;
}
.sidebar .side_partners div.partner .p_label {
  margin-bottom: 6px;
}
.sidebar .side_partners div.partner img {
  border: 1px dotted #959595;
  display: block;
  margin-bottom: 25px;
}
.sidebar .side_partners img.partner {
  border: 1px dotted #959595;
  display: block;
  margin-bottom: 20px;
}
.partners {
  margin-top: 50px;
}
.partners .label {
  font: bold 18px/24px Arial;
  color: #333333;
  margin-bottom: 15px;
}
.partners .partner {
  font: 12px/15px Arial;
  color: #999999;
}
.partners .partner .p_label {
  margin-bottom: 6px;
}
.partners .partner img {
  border: 1px dotted #959595;
  display: block;
  margin-bottom: 25px;
}
.footer {
  border-top: 1px solid #cccccc;
  font: 12px/23px Arial;
  padding: 20px 0px 25px;
  margin-top: 40px;
  color: #000;
}
.footer a {
  color: #000066;
}
.footer ul#footer_menu {
  color: #999999;
}
.footer ul#footer_menu li {
  float: left;
  margin-right: 4px;
}
.footer ul#footer_menu li:before {
  content: '| ';
}
.footer ul#footer_menu li:first-child:before {
  content: '';
}
